/* Variables */
:root {
  --background-color: #f5f5f4;
  --text-color: #333;
  --window-border-radius: 6px;
  --font-size: 14px;
}

label {
  display: block;
  margin: 0;
}

label > input[type=checkbox] {
  margin-right: 5px;
}

.task,
.link {
  width: 100%;
  display: inline-block;
}

.task-label,
.link-label {
  width: 255px;
  display: inline-block;
}

img.icon-pomo {
  vertical-align: middle;
}
/* The arrow at the top of the window */
.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #e8e6e8;
}

.window {
  position: absolute;
  top: 5px;
}

.toolbar {
  box-shadow: none;
}

.window, .toolbar-header {
  border-top-left-radius: var(--window-border-radius);
  border-top-right-radius: var(--window-border-radius);
}

.window-content {
  background-color: var(--background-color);
}

.column {
  clear: both;
  margin: auto;
  /*margin-top: 16px;*/
  /*text-align: center;*/
}

.summary {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
}

.reading {
  font-size: calc(var(--font-size) + 6px);
  font-weight: 300;
  color: var(--text-color);
}

.description {
  text-transform: uppercase;
  color: #666;
  font-size: calc(var(--font-size) - 3px);
  font-weight: 300;
}

.footer-link {
  padding-top: 8px;
  padding-left: 10px;
  font-size: calc(var(--font-size) - 4px);
  float: left;
}

.footer-link a {
  color: var(--text-color);
}

.hide {
  display: none;
}

.list {
  clear:both; padding: 0 10px
}

/* */
.progress {
  height: 5px; background-color: #000;
}
.progress .remain {
  background-color: #dde829; height: 5px;width: 80%;display: inline-block;position: absolute;
}
.progress .done {
  width: 30%; height: 5px; background-color: #3cd23c; position: absolute; display: inline-block;
}

.yy-mm {
  margin-top: 2px;
}
.day {
  margin:5px;
}

.day .date {
  float:left; margin-top: -9px; margin-bottom: 0;
}

.day .date small {
  vertical-align: middle;
  color: #969696;
  font-size: 50%;
}
/* icon */
.icon-pomo {
  width: 20px;
}
