body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h4 > small {
  color: #999;
  font-size: .5em;
}

.header {
  text-align: center;
  margin-top: 8rem;
}

.title {
  margin-top: 5rem;
}

.logo {
  width: 120px;
}

nav a {
  margin: 0 10px;
}
.nav-link {
  margin-top: 3rem;
}

.story {
  margin: 50px;
}


.copyright {
  color: #999;
  margin-top: 10rem;
}

.center {
  text-align: center;
}

.concept {}
.concept img {
  margin: 50px 10px;
}

.get-help {
  margin: 30px 0;
}

.download {
  margin: 30px 0;
}
.download a {
  margin: 0 5px;
}

.section {
  padding: 4rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .header {
    margin-top: 8rem; }
  .section {
    /*padding: 4rem 0 4rem;*/
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    /*padding: 4rem 0 4rem;*/
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    /*padding: 1rem 0 0;*/
  }
}

/****
 * animate title
 *****/

.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 4em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

/* Mallki */
.link--mallki {
	font-weight: 800;
	color: #ccc;
	font-family: 'Unica One', sans-serif;
	-webkit-transition: color 0.5s 0.25s;
	transition: color 0.5s 0.25s;
	overflow: hidden;
}

.link--mallki:hover {
	-webkit-transition: none;
	transition: none;
	color: transparent;
}

.link--mallki::before {
	content: '';
	width: 100%;
	height: 6px;
	margin: -3px 0 0 0;
	background: #999;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--mallki:hover::before {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--mallki span {
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

.link--mallki span::before {
	content: attr(data-letters);
	color: red;
	position: absolute;
	left: 0;
	width: 100%;
	color: #000;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--mallki span:nth-child(2) {
	top: 50%;
}

.link--mallki span:first-child::before {
	top: 0;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.link--mallki span:nth-child(2)::before {
	bottom: 0;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.link--mallki:hover span::before {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

/* Media Queries */
@media screen and (max-width: 42em) {
	.link--mallki { font-size: 3.5em; }
}